::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    border: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ff0011;
}

#logo img {
    width: 180px;
}

.content {
    margin-bottom: 0 !important;
}

.header-extras>ul>li a,
.header-extras>ul>li i {
    color: #fff !important;
}

.header-extras>ul>li a:hover,
.header-extras>ul>li i:hover {
    color: #ff0011 !important;
}

.cfhstyle {
    padding: 0px 20px;
    background-color: #ff0011;
    color: #fff;
    font-weight: 800;
}

.donasiyet {
    font-weight: 700;
    color: #121212;
    font-size: 1.5rem;
}

.targetdonasi {
    font-weight: 700;
    color: green;
    font-size: 1.25rem;
}

.leftfooter {
    font-weight: 700;
}

.rightfooter {
    font-weight: 700 !important;
}

#page-title {
    background-image: url('https://res.cloudinary.com/sarjanamalam/image/upload/v1588128921/cos/media/bg-min_zsjmfw.jpg');
}

#page-title h1 {
    font-weight: 900 !important;
    color: white;
}

.paymentdone {
    background-image: url('https://res.cloudinary.com/sarjanamalam/image/upload/v1588148063/cos/media/485_Converted_sest00.svg');
    background-size: cover;
}

.confirmationdone {
    /* background-image: url('https://res.cloudinary.com/sarjanamalam/image/upload/v1588148063/cos/media/485_Converted_sest00.svg'); */
    background-size: cover;
}

.info-payment p {
    color: #121212;
}

.info-payment h3 {
    font-weight: 700;
}

.info-payment {
    padding: 2rem;
    border-radius: 30px;
    border: 1px solid #e6e8eb;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, .15);
}

.requiredstar {
    color: red !important;
    font-size: 5px;
}

.donasisection h2 {
    font-weight: 700;
}

.thankyouimg button {
    border: 0;
    background-color: transparent;
}

.thankyouimg img {
    position: relative;
    object-fit: cover;
    width: 55px !important;
    height: 55px !important;
    border-radius: 50%;
    margin-left: -10px;
    border: 3px solid #fff;
}

.descdonations p {
    color: #121212;
    font-weight: 500;
    margin-bottom: 0;
}

.descdonations img {
    position: relative;
    object-fit: cover;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50%;
    border: 3px solid #fff;
}

.descdonations a {
    font-weight: 700;
    font-size: .85rem;
}
